{% extends "base.html" %}
{% load static %}

{% block title %}Добро пожаловать{% endblock %}

{% block content %}
<section class="welcome profile-style">
  <div class="profile-card">
    <h2 class="card-title">GoalUp</h2>
    <p class="card-text">
      Планируй цели, отслеживай их на календаре и двигайся вперёд каждый день.
    </p>

    <div class="card-actions">
      {% if user.is_authenticated %}
        <a href="{% url 'planner:home' %}" class="btn calendar-btn">Календарь</a>
        <a href="{% url 'planner:goals_list' %}" class="btn goals-btn">Мои цели</a>
        <a href="{% url 'users:profile' %}" class="btn profile-btn">Профиль</a>
      {% else %}
        <a href="{% url 'users:register' %}" class="btn btn-primary">Создать аккаунт</a>
        <a href="{% url 'users:login' %}" class="btn btn-warning">Войти</a>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
